body{
    margin: 0px;
    padding: 0px;
}
.intro {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    /* background-color: rgb(255, 252, 205); */
    width: 24em;
    /* border: 3px solid orange; */
    border-radius: 12px;
}
.h1{
    padding-left: 12px;
}
 
.p1 {
    text-align: left;
    font-size: 18px;
    margin-top: -20px;
    margin-left: 10px;
    text-decoration: underline;
}
.objh{
    background-color: rgb(197, 197, 197);
padding-left: 20px;
padding-top: 5px;
padding-bottom: 5px;
border: 2px solid black;
border-radius: 5px;
margin-bottom: 1.92px;
}
.p2 {
    font-size: 22px;
    margin-left: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.acad {

}
.acadh{
    background-color: rgb(197, 197, 197);
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 1.92px;
}

/* table */
.tab { margin: auto;
    width: 80%;
    border: 1px solid rgb(0, 17, 48);
    border-radius: 12px;
    margin-top: 12px;

}
.tab2 {margin: auto;
    width: 50%;
    border: 2px solid rgb(0, 17, 48);
    border-radius: 12px;

}

.th {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.thd {
    background-color: rgb(177, 177, 177);
    color: rgb(0, 0, 0);
    height: 45px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 12px;
}

.tb {
    background-color: rgb(236, 236, 236);
}

.tbd {
    background-color: rgb(219, 219, 219);
    font-size: 22px;
    height: 45px;
    text-align: center;
    border: 1px solid rgb(0, 46, 99);
    border-radius: 12px;

}



/* /table */

.skill {
    background-color: rgb(197, 197, 197);
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 1.92px;
}
 .ul{
    font-size: 22px;
    list-style-type: square;
 }
.pers {
    background-color: rgb(197, 197, 197);
    text-align: left;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 1.92px;
}
.tl{
    height: 35px;
    text-align: left;
    padding-left: 12px;
}
.tr{
    height: 35px;
    text-align: right;
    font-weight: 900;
}
.date{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 600;
}
.spnlst{
    float: right;
    margin-right: 14px;
    font-weight: 600;
    text-align: center;
}